.p-button {
    padding: 10px !important;
}

.p-button:focus {
    box-shadow: none !important;
}


.p-overlaypanel .p-overlaypanel-content {
    padding: 0;
}

.p-datatable-wrapper {
    border-radius: 5px;
}
